<div style="width: 100%;min-height: 500px;display: flex;margin: auto;justify-content: center;text-align: center">
    <div style="width: 30%;height: fit-content; padding: 22px;display: flex;align-items: center;flex-direction: column">
      <h3>Top 5 sel</h3>
      <div style="width: 80%;height: 400px;border: 1px solid black;">
        <h4 style="padding-top: 12px">
            product 1 - 32
        </h4>
      </div>
    </div>
  <div style="width: 30%;height: fit-content; padding: 22px;display: flex;align-items: center;flex-direction: column">
      <h3>Top 5 unique sel</h3>
    <div style="width: 80%;height: 400px;border: 1px solid black;">
      <h4 style="padding-top: 12px">
        product 1 - 32
      </h4>
    </div>
    </div>
  <div style="width: 30%;height: fit-content; padding: 22px;display: flex;align-items: center;flex-direction: column">
      <h3>Past 5 days</h3>
    <div style="width: 80%;height: 400px;border: 1px solid black;">
      <h4 style="padding-top: 12px">
        3.3.2020 - 100$
      </h4>
    </div>
    </div>
</div>
