.app-dialog-wraper {
  height: 100%;

  .dialog-close {
    cursor: pointer;
  }

  .dialog-header-title {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dialog-content {
    overflow: auto;
  }
}
