<div
  class="app-dialog-wraper"
  fxLayout="column"
  fxLayoutAlign="stretch space-between"
>
  <section
    mat-dialog-title
    class="dialog-header"
    fxLayout="row"
    fxFlex="100px"
    fxLayoutAlign="space-between start"
  >
    <h1 style="margin: unset" class="dialog-header-title">{{ title }}</h1>
    <div (click)="closeModal.next(dialogStatuses.DISMISS)" class="dialog-close">
      <mat-icon>close</mat-icon>
    </div>
  </section>
  <section
    mat-dialog-content
    class="dialog-content"
    fxFlex="auto"
    fxLayoutAlign="center start"
  >
    <ng-content select="[content]"></ng-content>
  </section>
  <footer
    mat-dialog-actions
    class="dialog-footer"
    fxFlex="50px"
    fxLayoutAlign="end center"
  >
    <ng-content select="[footer]"></ng-content>
  </footer>
</div>
